<h1>Projects - <span id="genre"></span></h1>

<a href="/#/projects/websites">Websites</a>
<a href="/#/projects/apps">Apps</a>

<br><br>

<a href="/#/projects/websites/website-1">Website 1</a>
<a href="/#/projects/websites/website-2">Website 2</a>