.button {
	cursor: pointer;
}

.default-button {
	.button();
	color: @default-col;
}

.proceed-button {
	.button();
	color: @proceed-col;
}

.warning-button {
	.button();
	color: @warning-col;
}

.cancel-button {
	.button();
	color: @cancel-col;
}

.disabled-button {
	color: @disabled-col;
}