// Container width
@max-width: 1000px;

// Break points
@xs-breakpoint : 320px;
@sm-breakpoint : 480px;
@md-breakpoint : 768px;
@lg-breakpoint : 992px;

// Grid gutters
@gutter: 10px;

// Colours
@brand-col: #00FF00;

@pri-col : #FFFFFF;
@sec-col : #000000;

@default-col  : black;
@warning-col  : red;
@proceed-col  : green;
@cancel-col   : blue;
@disabled-col : gray;

// Typography
@pri-font  : Helvetica, Arial, sans-serif;
@sec-font  : Helvetica, Arial, sans-serif;
@base-size : 16px;


